{% extends 'base.html.twig' %}

{% block title %}Create article{% endblock %}

{% block main %}
    <twig:BreadcrumbGroup>
        <twig:BreadcrumbItem href="{{ path('app_articles') }}">
            Projets
        </twig:BreadcrumbItem>
    </twig:BreadcrumbGroup>
    <twig:Title level="1">
        Create article
    </twig:Title>
    <div class="flex gap-4 flex-col md:flex-row">
            <div class="">
            {{ form_start(form) }}
                {{ form_rest(form) }}
                <twig:Button submit="true">Enregistrer</twig:Button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
