<div class="pt-10 sm:pt-20 md:pt-24" id="projects">
    <div class="text-center">
        <p class="font-general-semibold text-2xl sm:text-5xl font-semibold mb-2 text-ternary-dark dark:text-ternary-light">
            Portfolio de projets
        </p>
    </div>
    <div class="mt-8 sm:mt-10">
        <h3
                class="font-general-regular text-center text-secondary-dark dark:text-ternary-light text-md sm:text-xl font-normal mb-4">
            Search projects by title or filter by category </h3>
        <div class="flex justify-between border-b border-primary-light dark:border-secondary-dark pb-3 gap-2">
            <div class="flex justify-between gap-2">
                <span
                        class="hidden sm:block bg-primary-light dark:bg-ternary-dark p-2.5 shadow-sm rounded-xl cursor-pointer">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24"
                            viewBox="0 0 24 24" fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-search text-ternary-dark dark:text-ternary-light">
                        <circle
                                cx="11" cy="11"
                                r="8"></circle>
                        <line x1="21" y1="21" x2="16.65"
                              y2="16.65"></line>
                    </svg>
                </span>
                <input
                        class="font-general-medium pl-3 pr-1 sm:px-4 py-2 border-1 border-gray-200 dark:border-secondary-dark rounded-lg text-sm sm:text-md bg-secondary-light dark:bg-ternary-dark text-primary-dark dark:text-ternary-light"
                        id="name" name="name" type="search" required="" placeholder="Search Projects"
                        aria-label="Name">
            </div>
            <select name="projects" id="projects"
                    class="font-general-medium px-4 py-2 border-1 border-gray-200 dark:border-secondary-dark rounded-lg text-sm sm:text-md bg-secondary-light dark:bg-ternary-dark text-primary-dark dark:text-ternary-light">
                <option class="text-sm sm:text-md" value="">All Projects</option>
                <option class="sm:text-md" value="Web Application">Web Application</option>
                <option class="sm:text-md" value="Mobile Application">Mobile Application</option>
                <option class="sm:text-md" value="UI/UX Design">UI/UX Design</option>
                <option class="sm:text-md" value="Branding &amp; Anim">Branding &amp; Anim</option>
            </select>
        </div>
    </div>
    <!-- Projects grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-6 sm:gap-10">
        <div class="rounded-xl shadow-lg hover:shadow-xl cursor-pointer mb-10 sm:mb-0 bg-secondary-light dark:bg-ternary-dark"
             aria-label="Single Project">
            <a href="/projects/260d1271-f1f2-4bc9-a5eb-05a89c8cccdb"
               class="">
                <div>
                    <img src="images/web-project-2.jpg" alt="Google Health Platform"
                         class="rounded-t-xl border-none">
                </div>
                <div class="text-center px-4 py-6">
                    <p
                            class="font-general-semibold text-xl text-ternary-dark dark:text-ternary-light font-semibold mb-2">
                        Google Health Platform</p>
                    <span
                            class="font-general-medium text-lg text-ternary-dark dark:text-ternary-light">Web Application</span>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="mt-5 sm:mt-14 flex justify-center">
    <a href="/projets"
       class="font-general-medium flex items-center px-6 py-3 rounded-lg shadow-lg hover:shadow-xl bg-indigo-500 hover:bg-indigo-600 focus:ring-1 focus:ring-indigo-900 text-white text-lg sm:text-xl duration-300"
       aria-label="Plus de projets">
        <button>Plus d’informations</button>
    </a>
</div>