<button class="text-md bg-indigo-500 hover:bg-indigo-600 text-white shadow-sm rounded-md px-5 py-2.5"
        aria-label="{{ label }}"
        data-action="{{ action|default('') }}"
>
    {{ label }}
</button>
