<div {{ stimulus_controller('menu') }} class="{{ class }}">
    <button class="bg-primary-light dark:bg-ternary-dark px-2 py-1.5 sm:px-3 sm:py-2 shadow-sm rounded-xl cursor-pointer"
            data-action="menu#togglePhoneMenu">
        <svg xmlns="http://www.w3.org/2 000/svg" viewBox="0 0 24 24"
             class="h-7 w-7 mt-1 fill-current text-secondary-dark dark:text-ternary-light">
            <path fill-rule="evenodd"
                  d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
        </svg>
    </button>
</div>
