<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-left rtl:text-right text-gray-500 dark:text-gray-400">
        {% block content %}{% endblock %}
    </table>
</div>
